<div class="mobile-logo">
  <img src=<%= asset_path 'header-logo-mark.png' %> >
  <div class="mobile-logo-type">
    <img src=<%= asset_path 'header-logo-type.png' %> >
  </div>
</div>
<div id="ticketdetails">
  <div class="content">
    <h1>Departure & Arrival</h1>
    We operate 6 days a week, Monday-Saturday.
    <br><br>
    All tours depart promptly at 2:45 from the pick-up location. We encourage you to arrive 15 minutes early to check in with your Big Swig Hoperator.
    <br><br>
    The pick-up location is the corner of 4th Ave. and F. St. in downtown Anchorage. If you’re standing by the Visitor Center (the sod-covered log cabin), you’re in the right spot.
    <br><br>
    After the tour, you will be dropped off at the same corner around 6:30ish. (We say “ish” cause, let’s face it, activities involving beer always run on the “ish clock.”)
    <br><br>
    <h1>What to Bring</h1>
    Please bring your ID with you. You must be 21+ to join the tour. But you knew that already, didn’t you?
    <br><br>
    Beer and brewery memorabilia will be available for purchase along the way, so bring cash and/or a credit card in case you find a little something that needs to go home with you.
    <br><br>
    <h1>Parking Downtown</h1>
    If you must drive to the pick-up location, note that there are parking garages, paid lots and street parking spots in close proximity.
    <br><br>
  </div>
</div>
<div class="footer" >
  <div class="content">
    <div class="tickets-button">
      <a href="www.eventbrite.com" target="_blank">Buy tickets!</a>
    </div>
    <div class ="footer-image"> <img src=<%= asset_path 'footer-logo-type.png' %> ></div>
    <div class ="footer-image"> <img src=<%= asset_path 'seam-icon.png' %> ></div>
    <p>
      <a href="tel:+19072680872">907-268-0872 </a><br>
      <a href="mailto:info@bigswigtours.com">info@bigswigtours.com</a><br>
      <a href="http://searchinstagram.com/bigswig" target"_blank" >#BigSwig</a>
    </p>
    <div class="social-icons">
      <a href="http://www.facebook.com/bigswigtours"><img class ="icon"
        data-bottom-top="padding-left:50px; padding-right:50px;"
        data-bottom="padding-left:3px; padding-right:3px;"
        data-anchor-target=".footer"
      src=<%= asset_path 'fb-icon.png' %> ></a>
      <a href="http://www.instagram.com/bigswigtours"><img class ="icon"
        data-bottom-top="padding-left:50px; padding-right:50px;"
        data-bottom="padding-left:3px; padding-right:3px;"
        data-anchor-target=".footer"
        src=<%= asset_path 'insta-icon.png' %> ></a>
      <a href="http://www.yelp.com"><img class ="icon"
       data-bottom-top="padding-left:50px; padding-right:50px;"
       data-bottom="padding-left:3px; padding-right:3px;"
       data-anchor-target=".footer"
       src=<%= asset_path 'yelp-icon.png' %> ></a>
      <a href="http://www.tripadvisor.com"><img class ="icon"
        data-bottom-top="padding-left:50px; padding-right:50px;"
        data-bottom="padding-left:3px; padding-right:3px;"
        data-anchor-target=".footer"
        src=<%= asset_path 'tripadvisor-icon.png' %> ></a>
    </div>
  </div>