<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"> <!--<![endif]-->
  <head>
    <title>Big Swig Tours</title>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <meta name="viewport" content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta property="og:title" content='Big Swig Tours' />
    <meta property="og:type" content='website' />
    <meta property="og:url" content='http://www.bigswigtours.com' />
    <meta property="og:description" content='We’re exploring the Last Frontier, one craft brewery at a time. Join us on our quest.' />
    <meta property="og:image" content="http://www.bigswigtours.com/assets/bigswig_FB_1.jpg" />
    <meta name="description" content='We’re exploring the Last Frontier, one craft brewery at a time. Join us on our quest. Big Swig Tours explore Anchorage Alaska and the amazing breweries located here'>
    <%= favicon_link_tag 'bigswig_fav.png' %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="desktop-nav">
      <div class="nav-top" ></div>
      <div class="nav-bar">
        <div class="nav-width">
          <div class="nav-left">
            <div class="nav_item" >
              <div class="link">
                <a data-scroll href="#home">Home</a>
              </div>
              <div id="item1" class="link-back"></div>
            </div>
            <div class="nav_item" >
              <div class="link">
                <a data-scroll href="#the_tour">The Tours</a>
              </div>
              <div id= "item2" class="link-back"></div>
            </div>
          </div>
          <div class="nav-logo-mark">
            <img src=<%= asset_path 'header-logo-mark.png' %> >
          </div>
          <div class="nav-logo-type">
            <img src=<%= asset_path 'header-logo-type_01_15.png' %> >
          </div>
          <div class="nav-right">
            <div class="nav_item">
              <div class="link">
                <a data-scroll href="#about_us">About Us</a>
              </div>
              <div id="item3" class="link-back"></div>
            </div>
            <div class="nav_item" >
              <div class="link">
                <a data-scroll href="#tickets">Tickets</a>
              </div>
              <div id="item4" class="link-back"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-bottom"></div>
    </div>

    <div class="mobile-nav">
      <div class="nav_item" >
        <div class="link">
          <a data-scroll href="#home">Home</a>
        </div>
        <div id="item1m" class="link-back"></div>
      </div>
      <div class="nav_item" >
        <div class="link">
          <a data-scroll href="#the_tour">The Tour</a>
        </div>
        <div id= "item2m" class="link-back"></div>
      </div>
      <div class="nav_item">
      <div class="link">
        <a data-scroll href="#about_us">About Us</a>
      </div>
      <div id="item3m" class="link-back"></div>
    </div>
    <div class="nav_item" >
      <div class="link">
        <a data-scroll href="#tickets">Tickets</a>
      </div>
      <div id="item4" class="link-back"></div>
    </div>
  </div>

    <%= yield %>
  </body>
</html>